* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	font-weight: 700;
}
input::-webkit-input-placeholder{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 80px 40px 100px 40px;
}
.content {
	flex: 1 1 auto;
}
.button{
	font-weight: 400;
	color: #292929;
	display: inline-block;
	padding: 17.5px 45px;
	background-color: #F1CDB3;
	border-radius: 100px;
	text-align: center;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 1px;
}
.header {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
}
.header__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin:0 40px;
}
.header__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	letter-spacing: 2px;
	line-height: 110%;
	font-weight: 400;
	color: #F1CDB3;
	margin-bottom: 10px;
}

.header__subtitle {
	margin-left: 5px;
	font-size: 13px;
	letter-spacing: 1.3px;
	color: #ffffff;
}

.header__item {
	color: #FAFAFA;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 160%;
	font-weight: 400;
}
.header__table{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 443px;
}
.header__table li:first-child{
	border-bottom: solid #F1CDB3;
	border-width: 3px;
	padding-bottom: 1px;
}

.header__item:hover{
	border-bottom: solid #F1CDB3;
	border-width: 3px;
	padding-bottom: 1px;
}
/* padding прописан не в контейнере, потому-что картинка мешает и смещает другие блоки */
.not-only {
	background: url(../img/start-screen-gradient-background.png) no-repeat;
	max-width: 1280px;
	padding: 80px 40px 0 40px;
}
.not-only__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 100px 0 0 0;
}
.not-only__body {
	padding-bottom: 82px;
}
.title{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	line-height: 130%;
	color: #545454;
	letter-spacing: 2.1px;
}
.title--big{
	font-size: 44px;
	letter-spacing: 0px;
}
.title--white{
	color: #ffffff;
}
.title--center{
	text-align: center;
}
.not-only__text{
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin: 42px 0;
	width: 93%;
}
.not-only__btn:hover {
	background-color: #FDDCC4;
}
.not-only__img {
}
.about {
}
.about__row {
	display: flex;
	padding:0 175px;
}
.about__img{	
	margin-right: 60px;
}
.about__body {
	margin-left: 60px;
	padding-top: 15px;

}
.about__title {
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	

}
.about__text {
	font-size: 15px;
	line-height: 160%;

}
.about__paragraph{
	margin:25px 0 0 0;
}

.our-friends {
	background-color: #F6F6F6;
}
.our-friends__row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.our-friends__images {
	display: flex;
	flex-direction: row;
	margin:60px 0 0 0;
	text-align: center;

}
.our-friends__pet-name{
	margin: 27px 0 32px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	letter-spacing: 1.2px;
}

.button--white{
	background-color: #FAFAFA;
	border: solid 2px ;
	border-color: #F1CDB3;
	padding: 15px 42px;
}

.arrow{
	display: inline-block;
	border: solid 2px;
	border-color: #F1CDB3;
	border-radius: 50%;
	padding: 21px 18px;
	margin: 195px 10px 0 0;
}
.arrow--right{
	margin: 195px 0 0 10px;
}
.our-friends__card {	
	background-color: #FAFAFA;
	max-width: 270px;
	margin:0 45px;
	padding-bottom: 31px;
}

.our-friends__button{
	margin-top: 60px;
}

.help{
}
.help__row{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
.help__title{
	margin: 0 0 60px 0;
}
.help__picture{
	width: 100%;
}
.help__picture-top{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	width: 85.5%;
	margin: 0 auto;
	margin-bottom: 55px;
}
.help__picture-bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	width: 71.5%;
	margin: 0 auto;
}
.help__item-name{
	margin-top: 27px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	letter-spacing: 1.2px;
	line-height: 115%;
}

.in-addition {
	background-color: #F6F6F6;
}

.in-addition__row {
	display: flex;
	flex-direction: row;
}
.in-addition__img {
	margin-top: 12px;
	padding-left: 142px;
}
.in-addition__body {
	margin-left: 30px;
}
.in-addition__title {
	margin-bottom: 17px;
}
.in-addition__text {
	color: #545454;
	font-size: 15px;
	letter-spacing: 0.9px;
	line-height: 160%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 16px;

}
.in-addition__link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #F1CDB3;
	padding: 10px 0;
	width: 67%;
	border-radius: 10px;
	margin-bottom: 22px;
}
.in_addittion__number{
	padding-left: 15px;
	color: #545454;
	font-size: 20px;
	letter-spacing: 1.2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
}
.in-addition__agreement {
	color: #B2B2B2;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 18px;
	font-style: italic;
	width: 70%;
	font-family:Arial, Helvetica, sans-serif;
}
.footer {
	background: url(../img/footer-gradient-background.png);
}
.footer__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 40px 40px 0 40px;
}
.footer__left-column {
	width: 25%;
	padding-top: 16px;
}
.footer__title {
}
.footer__contacts {
}
.footer__item{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 33px;
}
.footer__item--padding{
	margin-top: 40px;
}
.footer__text{
	color: #F1CDB3;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1.2px;
	line-height: 115%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-left: 20px;
}
.footer__marker{
	height: 32px;
	width: 22px;
}

.footer__middle-column {
	width: 25%;
	padding-top: 16px;
	margin-right: 22px;
}
.footer__right-column {
	width: 25%;
}
