* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	font-weight: 700;
}
input::-webkit-input-placeholder{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 80px 40px 100px 40px;
}
.content {
	flex: 1 1 auto;
}
.header {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
}
.header__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin:0 40px;
}
.header__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	letter-spacing: 2px;
	line-height: 110%;
	font-weight: 400;
	color: #F1CDB3;
	margin-bottom: 10px;
}

.header__subtitle {
	margin-left: 5px;
	font-size: 13px;
	letter-spacing: 1.3px;
	color: #ffffff;
}

.header__item {
	color: #FAFAFA;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 160%;
	font-weight: 400;
}
.header__table{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 443px;
}
.header__table li:first-child{
	border-bottom: solid #F1CDB3;
	border-width: 3px;
	padding-bottom: 1px;
}

.header__item:hover{
	border-bottom: solid #F1CDB3;
	border-width: 3px;
	padding-bottom: 1px;
}
/* padding прописан не в контейнере, потому-что картинка мешает и смещает другие блоки */
.first-section {
	background: url(../img/start-screen-gradient-background.png) no-repeat;
	max-width: 1280px;
	padding: 80px 40px 0 40px;
}
.first-section__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 100px 0 0 0;
}
.first-section__body {
	padding-bottom: 82px;
}
.first-section__title{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 44px;
	line-height: 130%;
	color: #ffffff;
	width: 70%;
}
.first-section__text{
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin-top: 42px;
	width: 93%;
}
.first-section__btn {
	display: inline-block;
	padding: 0px 45px;
	background-color: #F1CDB3;
	border-radius: 100px;
	text-align: center;
	line-height: 52px;	
	margin-top: 42px;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 1px;

}
.first-section__btn a {
	font-weight: 400;
	color: #292929;


}
.first-section__btn:hover {
	background-color: #FDDCC4;
}
.first-section__img {
}
.second-section {
}
.second-section__row {
	display: flex;
	padding:0 175px;
}
.second-section__img{	
	margin-right: 60px;
}
.second-section__body {
	margin-left: 60px;
	padding-top: 15px;

}
.second-section__title {
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	

}
.second-section__text {
	font-size: 15px;
	line-height: 160%;

}
.second-section__paragraph{
	margin:25px 0 0 0;
}

.third-section {
	background-color: #F6F6F6;
}
.third-section__row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.third-section__title {
	text-align: center;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.third-section__images {
	display: flex;
	flex-direction: row;
	margin:60px 0 0 0;
	text-align: center;

}
.third-section__images p{
	margin: 30px 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	letter-spacing: 1px;
}

.third-section__images a{
	display: inline-block;
	padding: 0px 40px;
	background-color: #FAFAFA;
	border: solid 2px;
	border-color: #F1CDB3;
	border-radius: 100px;
	text-align: center;
	line-height: 50px;	
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;

}

.third-section__btn-left img{
	display: inline-block;
	border: solid 2px;
	border-color: #F1CDB3;
	border-radius: 50%;
	padding: 21px 18px;
	margin: 195px 10px 0 0;
}

.third-section__btn-right img{
	display: inline-block;
	border: solid 2px;
	border-color: #F1CDB3;
	border-radius: 50%;
	padding: 21px 18px;
	margin: 195px 0 0 10px;
}
.third-section__Katrine {	
	background-color: #FAFAFA;
	max-width: 270px;
	margin:0 45px;
	padding-bottom: 30px;
}
.third-section__Jennifer {
	background-color: #FAFAFA;
	max-width: 270px;
	margin:0 45px;
	padding-bottom: 30px;
}
.third-section__Woody {
	background-color: #FAFAFA;
	max-width: 270px;
	margin:0 45px;
	padding-bottom: 30px;
}


.third-section__btn a{
	display: block;
	padding: 0px 45px;
	background-color: #F1CDB3;
	border-radius: 100px;
	text-align: center;
	line-height: 52px;	
	margin-top: 57px;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
}

.help{
}
.help__row{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
.help__title{
	max-width: 30%;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	letter-spacing: 1.9px;
	line-height: 130%;
	margin: 0 0 60px 0;
}
.help__picture{
	width: 100%;
}
.help__picture-top{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	width: 85.5%;
	margin: 0 auto;
	margin-bottom: 55px;
}
.help__picture-bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	width: 71.5%;
	margin: 0 auto;
}
.help__item-name{
	margin-top: 27px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	letter-spacing: 1.2px;
	line-height: 115%;
}
.help__item-top{

}
.help__item-bottom{

}
.help__picture div:nth-child(6){

}
.in-addition {
	background-color: #F6F6F6;
}

.in-addition__row {
	display: flex;
	flex-direction: row;
}
.in-addition__img {
	margin: 10px 0 0 140px;
}
.in-addition__body {
	margin: 0 0 0 30px;
}
.in-addition__title {
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 2px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 20px;
}
.in-addition__text {
	color: #545454;
	font-size: 15px;
	letter-spacing: 0.9px;
	line-height: 160%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 15px;

}
.in-addition__link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #F1CDB3;
	width: 349px;
	height: 43px;
	border-radius: 11px;
	margin-bottom: 20px;
}
.in_addittion__number{
	padding-left: 15px;
	color: #545454;
	font-size: 20px;
	letter-spacing: 0.9px;
	line-height: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 400;
}
.in-addition__agreement {
	color: #B2B2B2;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 18px;
	font-style: italic;
	max-width: 380px;
	font-family:Arial, Helvetica, sans-serif;
}
